#nocontent {
	background:"red";
}

#eventMarks {
	width: 80%;
	margin: auto;
}

#setTodo ul li {
	/*margin: -2.5em;*/
	margin-left: -2.5em;
	list-style-type: none;
	/*list-style-image: url("../res/img/edit-small.png")*/
}