#nocontent {
	background:red;
}

#eventMarks {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#tabTodo {
	margin-top: -1em;
}
#setTodo {
/*	margin-left: -0.6em;
	margin-right: -0.9em;*/
}

/*#adfadfadsf {
	float: bottom;
}
*/


.item-event {
	background-color: #CFCFCF;

	margin-top: 6px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	box-shadow: 3px 3px 5px #aaaaaa;
	/*border-radius: 5px;*/
}

.item-event-active {
	background-color: #dFdFdF;

	margin-top: 6px;

	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

	box-shadow: 1px 1px 1px #aaaaaa;
	/*border-radius: 5px;*/
}